@font-face{
  font-family: "Circular-Book";
  src: url("./CircularStd-Book.otf");
}

@font-face{
  font-family: "Circular-Black";
  src: url("./CircularStd-Black.ttf");
}

.App {
  text-align: center;
  background: #ffffff;
}

.leftDiv {
  background: rgb(142,186,64);
  background: linear-gradient(90deg, rgba(142,186,64,1) 0%, rgba(142,186,64,1) 50%, rgba(255,255,255,1) 100%);
  min-width: 350px;
  min-height: 1400px;
  justify-content: start;

}

.clearFiltersButton {
  font-family: "Circular-Book";
  background-color: #ffffff;
  border-radius: 12px 12px;
  color: #4d4d4d;
  margin-top: 10px;
  left: 0;
  font-size: 10px;
  box-shadow: none;
  margin-bottom: 10px;

}

.clearFiltersButton:hover {
  background: #ededed;
  box-shadow: none;
}

.clearX {
  width: 6px;
  height: 6px;
  margin-right: 3px;
  margin-top: -2px;
}

.rightDiv {
  min-width: 1100px;
  height: 1000px;
}


.logo {
  height: 130px;
  margin-top: 30px;
  margin-right: 20px;
}

.logoText {
  color: #8eba40;
  font-family: "Circular-Black";
  font-size: 150px;
}

.previewImage {
  height: 210px;
  width: 300px;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.itemDiv {
  background-color: #ededed;
  margin: 10px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  color: white;
  width: 300px;
  box-shadow: 5px 5px 5px #aaaaaa;
  border-radius: 1px 1px;
  align-items: center;
}

.divAddress {
  display: flex;
  flex-direction: row;
}

.divIcon {
  width: auto;
  height: 30px;
}

.addressTextDiv {
  display: flex;
  flex-direction: column;
}

.address1 {
  font-family: "Circular-Book";
  font-size: 22px;
  color: #4d4d4d;
  align-self: left;
  margin-top: 10px;
}

.address2 {
  font-family: "Circular-Book";
  font-size: 17px;
  color: #4d4d4d;
}

.priceDisplay {
  font-family: "Circular-Book";
  font-size: 35px;
  color: #4d4d4d;
  margin-top: 10px;
}

.filterType {
  font-family: "Circular-Book";
  font-size: 13px;
  background-color: #8eba40;
  border-radius: 12px 12px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 3px;

}

.divDesc {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.description {
  font-family: "Circular-Book";
  font-size: 13px;
  color: #4d4d4d;
  margin-left: 10px;
}

.tagsText {
  font-family: "Circular-Book";
  font-size: 14px;
  color: #4d4d4d;
  margin: 5px;
  text-decoration: underline;
}

.allTags {
  display: flex;
  flex-direction: row;
}

.allFilterOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filterAndSortByText {
  font-family: "Circular-Book";
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: underline;
}

.filterIcon {
  width: 50px;
  height: auto;
}

.filterTitle {
  margin-bottom: 20px;
}

.locationFilters {
  color: #ffffff;
  margin-bottom: 40px;
  font-family: "Circular-Book";
  font-size: 25px;
}

.propertyTypeFilters {
  color: #ffffff;
  margin-bottom: 40px;
  font-family: "Circular-Book";
  font-size: 25px;
}

.listingFilters {
  color: #ffffff;
  margin-bottom: 40px;
  font-family: "Circular-Book";
  font-size: 25px;
}

/* The container */
.container {
  color: #ffffff;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Circular-Book";
  font-size: 20px;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #e8e8e8;

}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #c1c1c1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}



.input-wrapper {
  position: relative;
  width: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
}

.input-highlight {
  font-size: 30px;
  user-select: none;
  line-height: 70px;
  border-top: 3px solid white;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  height: 0;
  color: transparent;
  font-family: "Circular-Book";
  overflow: hidden;
}

input {
  height: 60px;
  padding: 0;
  border-radius: 0;
  line-height: 70px;
  background-color: transparent;
  color: #4d4d4d;
  font-size: 30px;
  border: none;
  outline: none;
  border-bottom: 3px solid #c1c1c1;
  font-family: "Circular-Book";

  &:focus {
    + 70px {
      border-top: 3px solid #fbc91b;
    }
  }
}

.searchIcon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.favorite{
  width: 30px;
  height: 30px;
  margin-right: 5px;

}

.favorites-list{
  list-style: None;
  text-align: center;
  left: 100px;


}

.favorites-div{
  font-family: "Circular-Book";
  font-size: 20px;
  color: white;
  text-align:center;
  margin-left: 10px;


}



