@font-face{
  font-family: "Circular-Book";
  src: url("./CircularStd-Book.otf");
}

@font-face{
  font-family: "Circular-Black";
  src: url("./CircularStd-Black.ttf");
}

.App {
  text-align: center;
  background: #ffffff;
}

.leftDiv {
  background: rgb(142,186,64);
  background: linear-gradient(90deg, rgba(142,186,64,1) 0%, rgba(142,186,64,1) 50%, rgba(255,255,255,1) 100%);
  min-width: 350px;
  height: 4700px;
  justify-content: start;

}

.clearFiltersButton {
  font-family: "Circular-Book";
  background-color: #ffffff;
  border-radius: 12px 12px;
  color: #4d4d4d;
  margin-top: 10px;
  left: 0;
  font-size: 10px;
  box-shadow: none;
  margin-bottom: 10px;

}

.clearFiltersButton:hover {
  background: #ededed;
  box-shadow: none;
}

.clearX {
  width: 6px;
  height: 6px;
  margin-right: 3px;
  margin-top: -2px;
}

.rightDiv {
  min-width: 900px;
  height: 1000px;
}


.logo {
  height: 130px;
  margin-top: 30px;
  margin-right: 20px;
}

.logoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logoText {
  color: #8eba40;
  font-family: "Circular-Black";
  font-size: 150px;
}

.houseIcon {
  width: 100px;
  height: 100px;
  margin-top: 15px;
  margin-right: 20px;
}

.sloganWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sloganText {
  color: #4d4d4d;
  font-family: "Circular-Book";
  font-size: 16px;
  margin-bottom: 20px;
  font-style: italic;
  width: 500px;

}

.previewImage {
  height: 210px;
  width: 300px;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.itemDiv {
  background-color: #ededed;
  margin: 10px;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  color: white;
  width: 300px;
  box-shadow: 5px 5px 5px #aaaaaa;
  border-radius: 1px 1px;
  align-items: center;
}

.divAddress {
  display: flex;
  flex-direction: row;
}

.divIcon {
  width: auto;
  height: 30px;
}

.addressTextDiv {
  display: flex;
  flex-direction: column;
}

.address1 {
  font-family: "Circular-Book";
  font-size: 22px;
  color: #4d4d4d;
  align-self: left;
  margin-top: 10px;
}

.address2 {
  font-family: "Circular-Book";
  font-size: 17px;
  color: #4d4d4d;
}

.priceDisplay {
  font-family: "Circular-Book";
  font-size: 35px;
  color: #4d4d4d;
  margin-top: 10px;
}

.filterType {
  font-family: "Circular-Book";
  font-size: 13px;
  background-color: #8eba40;
  border-radius: 12px 12px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 3px;

}

.divDesc {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.description {
  font-family: "Circular-Book";
  font-size: 13px;
  color: #4d4d4d;
  margin-left: 10px;
}

.tagsText {
  font-family: "Circular-Book";
  font-size: 14px;
  color: #4d4d4d;
  margin: 5px;
  text-decoration: underline;
}

.allTags {
  display: flex;
  flex-direction: row;
}

.allFilterOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filterAndSortByText {
  font-family: "Circular-Book";
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: underline;
}

.filterIcon {
  width: 50px;
  height: auto;
}

.filterTitle {
  margin-bottom: 20px;
}

.locationFilters {
  color: #ffffff;
  margin-bottom: 40px;
  font-family: "Circular-Book";
  font-size: 25px;
}

.propertyTypeFilters {
  color: #ffffff;
  margin-bottom: 40px;
  font-family: "Circular-Book";
  font-size: 25px;
}

.listingFilters {
  color: #ffffff;
  margin-bottom: 40px;
  font-family: "Circular-Book";
  font-size: 25px;
}

/* The container */
.container {
  color: #ffffff;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Circular-Book";
  font-size: 20px;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #e8e8e8;

}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #c1c1c1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}



.input-wrapper {
  position: relative;
  width: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
}

.input-highlight {
  font-size: 30px;
  user-select: none;
  line-height: 70px;
  border-top: 3px solid white;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  height: 0;
  color: transparent;
  font-family: "Circular-Book";
  overflow: hidden;
}

input {
  height: 60px;
  padding: 0;
  border-radius: 0;
  line-height: 70px;
  background-color: transparent;
  color: #4d4d4d;
  font-size: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid #c1c1c1;
  font-family: "Circular-Book";

  &:focus {
    + 70px {
      border-top: 3px solid #fbc91b;
    }
  }
}

.searchIcon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.favorite {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;

}

.favorites-list{
  list-style: None;
  text-align: center;


}

.favorites-div{
  font-family: "Circular-Book";
  font-size: 20px;
  color: white;
  text-align:center;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}


input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  margin-top: 15px;
  font: 16px 'Circular-Book', Arial, sans-serif;
  color: #ffffff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { 
  margin-bottom: 15px;
}

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*.squaredTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }    
  }
}*/



.favoritesTitle {
  font-size: 25px;
  margin-top: 30px;
  font-family: "Circular-Black";
}

.checkboxWrapper {
  display: flex;
  flex-direction: row;
}

.showFavorites {
  font-size: 16px;
  margin-left: 10px;
  font-family: "Circular-Book";
  margin-top: 16px;
}



