@font-face{
  font-family: "Circular-Book";
  src: url("./CircularStd-Book.otf");
}

@font-face{
  font-family: "Circular-Black";
  src: url("./CircularStd-Black.ttf");
}

#userDiv {
	font-family: "Circular-Book";
	color: #4d4d4d;
	font-size: 16px;
}

#villarUserTitle {
	font-family: "Circular-Black";
	color: #4d4d4d;
	font-size: 22px;
	margin-bottom: 10px;
}

.showUsersButton {
	font-family: "Circular-Book";
  background-color: #ffffff;
  border-radius: 12px 12px;
  color: #4d4d4d;
  margin-top: 10px;
  left: 0;
  font-size: 12px;
  box-shadow: none;
  margin-bottom: 10px;
}

.userIcon {
	width: 60px;
	height: auto;
	margin-bottom: 10px;
}


